# Ignore everything
*

# But not these files
!/.gitignore
!*.sh
!/conf/
!/conf/*

!/gitscr/
!/gitscr/*

!/list/*

!/net/
!/net/*

!/usb/
!/usb/*

!/util/
!/util/*
# etc...

# ...even if they are subdirectories
!*/
